.output {
    display: flex;
    background-color: var(--clr-300);
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    padding: 0 1.5rem;
}

.output input {
    background-color: transparent;
    border: none;
    width: 18ch;
    height: 70px;

    font-size: var(--txt-lg);
    color: var(--clr-100);
}

.output input::placeholder {
    color: var(--clr-200)
}

.copy {
    width: 21px;
    height: 24px;
}

.btn {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--clr-green);
}

@media (width <=660px) {
    .output {
        padding: 0 .75rem;
        height: 68px;
        margin: 1rem 0;
    }

    .output input {
        font-size: var(--txt-p);
        height: 60px;
    }

    .btn p {
        font-size: var(--txt-p);
    }

    .btn {
        gap: .25rem;
    }

    .copy {
        width: 17.5px;
        height: 20px;
    }
}