*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'JetBrains Mono', monospace;
  background: var(--gradient);
  color: var(--clr-100)
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --txt-lg: 32px;
  --txt-md: 24px;
  --txt-p: 18px;

  --clr-400: #18171F;
  --clr-300: #24232C;
  --clr-200: #817D92;
  --clr-100: #E6E5EA;

  --gradient: linear-gradient(#14131B, #08070B);
  --clr-green: #A4FFAF;
  --clr-red: #F64A4A;
  --clr-orange: #FB7C58;
  --clr-yellow: #F8CD65;
}